{{#is page.lang "es"}}
<a href="/gdb/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">La Biblia de la Disforia de Género</a>{{import '/public/_gdb-es-menu'}}
{{else}}
{{#is page.lang "pt-BR"}}
<a href="/gdb/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">A Bíblia da Disforia de Gênero</a>{{import '/public/_gdb-pt-menu'}}
{{else}}
<a href="/gdb/" class="top-nav-item dropdown-toggle" id="nav-gdb" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">The Gender Dysphoria Bible</a>{{import '/public/_gdb-en-menu'}}
{{/is}}
{{/is}}