<div class="pager {{className}}">
  <div class="prev">
    {{#is meta.url '/gdb/what-is-gender'          }}<a href="/gdb/" class="btn btn-primary left">{{icon 'angle-left'}} Introduction</a>{{/is}}
    {{#is meta.url '/gdb/history'                 }}<a href="/gdb/what-is-gender" class="btn btn-primary left">{{icon 'angle-left'}} What Is Gender?</a>{{/is}}
    {{#is meta.url '/gdb/euphoria'                }}<a href="/gdb/history" class="btn btn-primary left">{{icon 'angle-left'}} The History of Gender Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/physical-dysphoria'      }}<a href="/gdb/euphoria" class="btn btn-primary left">{{icon 'angle-left'}} Gender Euphoria</a>{{/is}}
    {{#is meta.url '/gdb/biochemical-dysphoria'   }}<a href="/gdb/physical-dysphoria" class="btn btn-primary left">{{icon 'angle-left'}} Physical Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/social-dysphoria'        }}<a href="/gdb/biochemical-dysphoria" class="btn btn-primary left">{{icon 'angle-left'}} Biochemical Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/societal-dysphoria'      }}<a href="/gdb/social-dysphoria" class="btn btn-primary left">{{icon 'angle-left'}} Social Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/sexual-dysphoria'        }}<a href="/gdb/societal-dysphoria" class="btn btn-primary left">{{icon 'angle-left'}} Societal Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/presentational-dysphoria'}}<a href="/gdb/sexual-dysphoria" class="btn btn-primary left">{{icon 'angle-left'}} Sexual Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/historical-dysphoria'    }}<a href="/gdb/presentational-dysphoria" class="btn btn-primary left">{{icon 'angle-left'}} Presentational Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/managed-dysphoria'       }}<a href="/gdb/historical-dysphoria" class="btn btn-primary left">{{icon 'angle-left'}} Historical Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/impostor-syndrome'       }}<a href="/gdb/managed-dysphoria" class="btn btn-primary left">{{icon 'angle-left'}} Managed Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/diagnoses'               }}<a href="/gdb/impostor-syndrome" class="btn btn-primary left">{{icon 'angle-left'}} Impostor Syndrome</a>{{/is}}
    {{#is meta.url '/gdb/treatment'               }}<a href="/gdb/diagnoses" class="btn btn-primary left">{{icon 'angle-left'}} Clinical Diagnoses</a>{{/is}}
    {{#is meta.url '/gdb/causes'                  }}<a href="/gdb/treatment" class="btn btn-primary left">{{icon 'angle-left'}} Treating Gender Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/chromosomes'             }}<a href="/gdb/causes" class="btn btn-primary left">{{icon 'angle-left'}} Causes of Gender Dysphoria</a>{{/is}}
    {{#is meta.url '/gdb/conclusion'              }}<a href="/gdb/chromosomes" class="btn btn-primary left">{{icon 'angle-left'}} Disorders of Sexual Development</a>{{/is}}
  </div>
{{!--   <div class="first"></div>
  <div class="last"></div> --}}
  <div class="next">
    {{#is meta.url '/'                            }}<a href="/gdb/what-is-gender" class="btn btn-primary right">Continue Reading {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb'                         }}<a href="/gdb/what-is-gender" class="btn btn-primary right">What is Gender? {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/what-is-gender'          }}<a href="/gdb/history" class="btn btn-primary right">The History of Gender Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/history'                 }}<a href="/gdb/euphoria" class="btn btn-primary right">Gender Euphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/euphoria'                }}<a href="/gdb/physical-dysphoria" class="btn btn-primary right">Physical Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/physical-dysphoria'      }}<a href="/gdb/biochemical-dysphoria" class="btn btn-primary right">Biochemical Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/biochemical-dysphoria'   }}<a href="/gdb/social-dysphoria" class="btn btn-primary right">Social Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/social-dysphoria'        }}<a href="/gdb/societal-dysphoria" class="btn btn-primary right">Societal Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/societal-dysphoria'      }}<a href="/gdb/sexual-dysphoria" class="btn btn-primary right">Sexual Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/sexual-dysphoria'        }}<a href="/gdb/presentational-dysphoria" class="btn btn-primary right">Presentational Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/presentational-dysphoria'}}<a href="/gdb/historical-dysphoria" class="btn btn-primary right">Historical Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/historical-dysphoria'    }}<a href="/gdb/managed-dysphoria" class="btn btn-primary right">Managed Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/managed-dysphoria'       }}<a href="/gdb/impostor-syndrome" class="btn btn-primary right">Impostor Syndrome {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/impostor-syndrome'       }}<a href="/gdb/diagnoses" class="btn btn-primary right">Clinical Diagnoses {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/diagnoses'               }}<a href="/gdb/treatment" class="btn btn-primary right">Treating Gender Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/treatment'               }}<a href="/gdb/causes" class="btn btn-primary right">Causes of Gender Dysphoria {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/causes'                  }}<a href="/gdb/chromosomes" class="btn btn-primary right">But... but... the chromosomes! {{icon 'angle-right'}}</a>{{/is}}
    {{#is meta.url '/gdb/chromosomes'             }}<a href="/gdb/conclusion" class="btn btn-primary right">Conclusion {{icon 'angle-right'}}</a>{{/is}}
  </div>

</div>
