
<div class="pager">
  {{#is step 0 1 }}<span class="filler"></span>{{/is}}
  {{#is step 2}}<a href="/gdb/what-is-gender" class="btn btn-primary">{{icon 'chevron-left'}} What Is Gender?</a>{{/is}}
  {{#is step 3}}<a href="/gdb/gd-history" class="btn btn-primary">{{icon 'chevron-left'}} The History of Gender Dysphoria</a>{{/is}}
  {{#is step 4}}<a href="/gdb/euphoria" class="btn btn-primary">{{icon 'chevron-left'}} Gender Euphoria</a>{{/is}}
  {{#is step 5}}<a href="/gdb/physical-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Physical Dysphoria</a>{{/is}}
  {{#is step 6}}<a href="/gdb/biochemical-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Biochemical Dysphoria</a>{{/is}}
  {{#is step 7}}<a href="/gdb/social-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Social Dysphoria</a>{{/is}}
  {{#is step 8}}<a href="/gdb/societal-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Societal Dysphoria</a>{{/is}}
  {{#is step 9}}<a href="/gdb/sexual-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Sexual Dysphoria</a>{{/is}}
  {{#is step 10}}<a href="/gdb/presentational-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Presentational Dysphoria</a>{{/is}}
  {{#is step 11}}<a href="/gdb/historical-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Historical Dysphoria</a>{{/is}}
  {{#is step 12}}<a href="/gdb/managed-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Managed Dysphoria</a>{{/is}}
  {{#is step 13}}<a href="/gdb/impostor-syndrome" class="btn btn-primary">{{icon 'chevron-left'}} Impostor Syndrome</a>{{/is}}
  {{#is step 14}}<a href="/gdb/diagnoses" class="btn btn-primary">{{icon 'chevron-left'}} Clinical Diagnoses</a>{{/is}}
  {{#is step 15}}<a href="/gdb/treatment" class="btn btn-primary">{{icon 'chevron-left'}} Treating Gender Dysphoria</a>{{/is}}
  {{#is step 16}}<a href="/gdb/causes" class="btn btn-primary">{{icon 'chevron-left'}} Causes of Gender Dysphoria</a>{{/is}}
  {{#is step 17}}<a href="/gdb/chromosomes" class="btn btn-primary">{{icon 'chevron-left'}} Disorders of Sexual Development</a>{{/is}}

  {{#is step  0}}<a href="/gdb/what-is-gender" class="btn btn-primary">Continue Reading {{icon 'chevron-right'}}</a>{{/is}}
  {{#is step  1}}<a href="/gdb/gd-history" class="btn btn-primary">{{icon 'chevron-left'}} The History of Gender Dysphoria</a>{{/is}}
  {{#is step  2}}<a href="/gdb/euphoria" class="btn btn-primary">{{icon 'chevron-left'}} Gender Euphoria</a>{{/is}}
  {{#is step  3}}<a href="/gdb/physical-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Physical Dysphoria</a>{{/is}}
  {{#is step  4}}<a href="/gdb/biochemical-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Biochemical Dysphoria</a>{{/is}}
  {{#is step  5}}<a href="/gdb/social-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Social Dysphoria</a>{{/is}}
  {{#is step  6}}<a href="/gdb/societal-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Societal Dysphoria</a>{{/is}}
  {{#is step  7}}<a href="/gdb/sexual-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Sexual Dysphoria</a>{{/is}}
  {{#is step  8}}<a href="/gdb/presentational-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Presentational Dysphoria</a>{{/is}}
  {{#is step  9}}<a href="/gdb/historical-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Historical Dysphoria</a>{{/is}}
  {{#is step 10}}<a href="/gdb/managed-dysphoria" class="btn btn-primary">{{icon 'chevron-left'}} Managed Dysphoria</a>{{/is}}
  {{#is step 11}}<a href="/gdb/impostor-syndrome" class="btn btn-primary">{{icon 'chevron-left'}} Impostor Syndrome</a>{{/is}}
  {{#is step 12}}<a href="/gdb/diagnoses" class="btn btn-primary">{{icon 'chevron-left'}} Clinical Diagnoses</a>{{/is}}
  {{#is step 13}}<a href="/gdb/treatment" class="btn btn-primary">{{icon 'chevron-left'}} Treating Gender Dysphoria</a>{{/is}}
  {{#is step 14}}<a href="/gdb/causes" class="btn btn-primary">{{icon 'chevron-left'}} Causes of Gender Dysphoria</a>{{/is}}
  {{#is step 15}}<a href="/gdb/chromosomes" class="btn btn-primary">{{icon 'chevron-left'}} Disorders of Sexual Development</a>{{/is}}
</div>
