<div class="dropdown-menu" aria-labelledby="nav-gdb">
  <a href="{{translink 'en' '/en/'}}" class="{{#is page.lang 'en'}}active {{/is}}dropdown-item">English</a>
  <a href="{{translink 'zh' '/zh/'}}" class="{{#is page.lang 'zh'}}active {{/is}}dropdown-item">中文 (Chinese)</a>
  <a href="{{translink 'fr' '/fr/'}}" class="{{#is page.lang 'fr'}}active {{/is}}dropdown-item">Français (French)</a>
  <a href="{{translink 'de' '/de/'}}" class="{{#is page.lang 'de'}}active {{/is}}dropdown-item">Deutsch (German)</a>
  <a href="{{translink 'hu' '/hu/'}}" class="{{#is page.lang 'hu'}}active {{/is}}dropdown-item">Magyar (Hungarian)</a>
  <a href="{{translink 'pl' '/pl/'}}" class="{{#is page.lang 'pl'}}active {{/is}}dropdown-item">polski (Polish)</a>
</div>
