<!DOCTYPE HTML>
<html lang="{{page.lang}}">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="referrer" content="origin-when-cross-origin">
  <meta name="author" content="{{site.author}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:site_name" content="{{{lang 'SITE_TITLE'}}}">
  <meta name="twitter:site" content="{{{lang 'SITE_TITLE'}}}">
  <meta name="twitter:creator" content="{{site.creator}}">
  {{block "meta"}}
  <title>{{page.title}}</title>

  <!-- generics -->
  <link rel="icon" type="image/x-icon" href="https://{{page.domain}}{{rev '/favicon.ico'}}">
  <link rel="icon" type="image/png"    href="https://{{page.domain}}{{rev '/favicon32.png'}}" sizes="32x32">
  <link rel="icon" type="image/png"    href="https://{{page.domain}}{{rev '/favicon57.png'}}" sizes="57x57">
  <link rel="icon" type="image/png"    href="https://{{page.domain}}{{rev '/favicon76.png'}}" sizes="76x76">
  <link rel="icon" type="image/png"    href="https://{{page.domain}}{{rev '/favicon96.png'}}" sizes="96x96">
  <link rel="icon" type="image/png"    href="https://{{page.domain}}{{rev '/favicon128.png'}}" sizes="128x128">
  <link rel="icon" type="image/png"    href="https://{{page.domain}}{{rev '/favicon192.png'}}" sizes="192x192">
  <link rel="icon" type="image/png"    href="https://{{page.domain}}{{rev '/favicon228.png'}}" sizes="228x228">

  <!-- Android -->
  <link rel="shortcut icon" sizes="196x196" href="/favicon196.png">

  <!-- iOS -->
  <link rel="apple-touch-icon"             type="image/png" sizes="120x120" href="https://{{page.domain}}{{rev '/favicon120.png'}}">
  <link rel="apple-touch-icon"             type="image/png" sizes="152x152" href="https://{{page.domain}}{{rev '/favicon152.png'}}">
  <link rel="apple-touch-icon"             type="image/png" sizes="180x180" href="https://{{page.domain}}{{rev '/favicon180.png'}}">
  <link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57"   href="https://{{page.domain}}{{rev '/favicon57.png'}}">
  <link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72"   href="https://{{page.domain}}{{rev '/favicon72.png'}}">
  <link rel="apple-touch-icon-precomposed" type="image/png" sizes="120x120" href="https://{{page.domain}}{{rev '/favicon120.png'}}">
  <link rel="apple-touch-icon-precomposed" type="image/png" sizes="144x144" href="https://{{page.domain}}{{rev '/favicon144.png'}}">

  <!-- Windows 8 IE 10 -->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="https://{{page.domain}}{{rev '/favicon144.png'}}">

  <!-- Windows 8.1 + IE11 and above -->
  <meta name="msapplication-config" content="https://{{page.domain}}/browserconfig.xml" />

  <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
  <link rel="preconnect" href="//cdnjs.cloudflare.com/" crossorigin="anonymous">
  <link rel="stylesheet" href="{{rev '/css/style.css'}}" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="{{rev '/css/print.css'}}" type="text/css" media="print" title="no title" charset="utf-8">
  <link href="//fonts.googleapis.com/css?family=Sriracha:400" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:100,200,300,400,700,800" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,600" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Gothic+A1:300,400,600" rel="stylesheet">
  {{#block "prescripts"}}
  <script type="text/javascript" src="{{rev '/js/global.js'}}" data-i-url="{{#prod}}//t.{{page.domain}}{{/prod}}/i"></script>
  {{/block}}
</head>
<body class="{{block 'bodyClass'}}" {{block 'bodyAttributes'}}>
  {{block "preRoot"}}
  <div class="root">
    <header>
      <nav>
        <a href="/{{page.lang}}" class="top-brand">{{{lang 'HEADER_TITLE'}}}</a>

        <div class="top-nav">
          <ul class="top-nav-inner">
            <li>{{import (join [ '/public/' page.lang '/_menu' ] "")}}</li>
            <li>
              <a href="/en/" class="top-nav-item dropdown-toggle" id="nav-lang" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">{{lang 'MENU_LANGUAGE'}}</a>
              {{import "~/language-menu"}}
            </li>
            <li><a href="/tweets/" class="top-nav-item" title="{{{lang 'TRANS_TWITTER_TOPICS'}}}"><img src="/images/transtwitter.png" width="24" height="24" alt=""></a></li>
            <li class="disposable"><a href="https://github.com/GenderDysphoria/GenderDysphoria.fyi" class="top-nav-item">{{icon 'brands/github'}}</a></li>
            <li class="disposable"><a href="https://patreon.com/curvyandtrans" class="top-nav-item" title="Patreon">{{icon 'brands/patreon'}}</a></li>
            <li class="disposable"><a href="https://ko-fi.com/curvyandtrans" class="top-nav-item" title="Ko-Fi">{{icon 'brands/ko-fi'}}</a></li>
          </ul>
        </div>
      </nav>
    </header>
    {{block 'post-header'}}
    <div id="body">
      {{block "body"}}
    </div>
    <footer>
      {{import "~/patreon"}}
      <p class="copyright">{{{lang 'FOOTER_COPYRIGHT'}}}<span class="cc-by-nc-sa">{{icon 'symbols/cc'}}{{icon 'symbols/cc-by'}}{{icon 'symbols/cc-nc'}}{{icon 'symbols/cc-sa'}}</span><br>&copy; {{date "now" "yyyy"}} <a href="https://curvyandtrans.com">Jocelyn Badgley</a> {{lang 'FOOTER_COPYRIGHT2'}}</p>
      <p class="foot-nav"><a href="/privacy.html">{{lang 'Privacy Policy'}}</a></p>

    </footer>
  </div>

  {{block "postscripts"}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-N3C6NFB2MK"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag () { window.dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N3C6NFB2MK');
  </script>
  <noscript><img src="{{#prod}}//t.{{page.domain}}{{/prod}}/i?stage=noscript" style="display: none"></noscript>
</body>
</html>
