{{#extend "layout"}}

  {{#content "meta"}}
  <meta property="og:title" content="{{meta.title}}{{#if meta.subtitle}}, {{meta.subtitle}}{{/if}}">
  <meta property="og:description" content="{{meta.description}}">
  {{#if titlecard}}<meta property="og:image" content="https://{{page.domain}}{{rev titlecard}}">{{/if}}
  <meta property="og:url" content="https://{{page.domain}}{{url}}">
  <meta name="twitter:title" content="{{meta.title}}{{#if meta.subtitle}}, {{meta.subtitle}}{{/if}}">
  <meta name="twitter:description" content="{{meta.description}}">
  {{#if titlecard}}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://{{page.domain}}{{rev titlecard}}">
  {{/if}}
  <link rel="canonical" href="{{#if canonical}}{{canonical}}{{else}}https://{{page.domain}}{{url}}{{/if}}">{{/content}}

  {{#append 'post-header'}}
    {{#if meta.preBody}}{{import meta.preBody}}{{/if}}
  {{/append}}

  {{#content "bodyClass"}}{{#each classes}}{{this}} {{/each}}page{{/content}}

  {{#content "body"}}
  <article class="markup">
    <div class="post-content">{{{contents}}}</div>
  </article>
  {{/content}}

{{/extend}}
