{{#extend "layout"}}

  {{#content "meta"}}
  <meta property="og:title" content="{{meta.title}}{{#if meta.subtitle}}, {{meta.subtitle}}{{/if}}">
  <meta property="og:description" content="{{meta.description}}">
  {{#if titlecard}}<meta property="og:image" content="https://{{page.domain}}{{rev titlecard}}">{{/if}}
  <meta property="og:url" content="https://{{page.domain}}{{url}}">
  <meta name="twitter:title" content="{{meta.title}}{{#if meta.subtitle}}, {{meta.subtitle}}{{/if}}">
  <meta name="twitter:description" content="{{meta.description}}">
  {{#if titlecard}}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="https://{{page.domain}}{{rev titlecard}}">
  {{/if}}
  <link rel="canonical" href="{{#if canonical}}{{canonical}}{{else}}https://{{page.domain}}{{url}}{{/if}}">
  {{/content}}

  {{#append 'post-header'}}
    {{#if meta.preBody}}{{import meta.preBody}}{{/if}}
  {{/append}}

  {{#content "bodyClass"}}{{#each classes}}{{this}} {{/each}}page{{/content}}

  {{#content "body"}}
  <article class="markup">
    <div class="post-content">
    {{{contents}}}
    </div>

    {{#if siblings}}
    <div class="pager">
      <div class="prev">{{#if siblings.prev}}<a href="{{siblings.prev}}" class="btn btn-primary left">{{icon 'angle-left'}}<span class="caption">{{#if siblings.prevCaption}}{{siblings.prevCaption}}{{else}}Back{{/if}}</a>{{/if}}</span></div>
      <div class="first">{{#if siblings.first}}<a href="{{siblings.first}}" class="btn btn-primary left">{{icon 'angle-double-left'}}<span class="caption">{{#if siblings.firstCaption}}{{siblings.firstCaption}}{{else}}Newest{{/if}}</a>{{/if}}</span></div>
      <div class="last">{{#if siblings.last}}<a href="{{siblings.last}}" class="btn btn-primary right"><span class="caption">{{#if siblings.lastCaption}}{{siblings.lastCaption}}{{else}}Oldest{{/if}}</span>{{icon 'angle-double-right'}}</a>{{/if}}</div>
      <div class="next">{{#if siblings.next}}<a href="{{siblings.next}}" class="btn btn-primary right"><span class="caption">{{#if siblings.nextCaption}}{{siblings.nextCaption}}{{else}}Next{{/if}}</span>{{icon 'angle-right'}}</a>{{/if}}</div>
    </div>
    {{/if}}
  </article>
  {{/content}}

{{/extend}}
